To generate or write code you will have collected instructions and requirements, 
and perhaps setup things in place already. 

When it is time to write code, you can call your tools such as 

To accomplish this, you will call your tools such as generate_code, deep_debug and deep_understand.
