When navigating a codebase, it can be useful to search for conceptually related items when needed. 

To do this you can use the find_similar_files_locations tool. It will provide potentially related paths and files to look at.
This should not be relied on alone, but in tandem with other tools